@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(headless-form-item) {
  display: flex;
  align-items: center;

  @include e(label) {
    white-space: nowrap;
    margin-right: 10px;
  }

  @include m(is-error) {
    position: absolute;
    left: 0;
    bottom: -25px;
    color: #f56c6c;
  }

  @include m(is-required) {
    &::before {
      content: '*';
      margin-right: 5px;
      color: #f56c6c;
    }
  }
}
